<div class="login-footer-main-cnt">
    <form class="login-outer-cnt" [formGroup]="logInForm" (ngSubmit)="handleLogin()">
    
        <div class="title-subtitle-cnt">
            <span class="login-title">Fundo Notes</span>
            <span class="login-subtitle-1">Sign in</span>
            <span class="login-subtitle-2">Use Your Fundo Account</span>
        </div>
    
        <mat-form-field appearance="outline" class="login-form-input" >
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput  placeholder="Placeholder">
          <mat-error *ngIf="submitted && loginControl['email']?.hasError('required')">Email required</mat-error>
          <!-- <mat-error *ngIf="submitted && loginControl['email']?.hasError('required')"></mat-error> -->
        </mat-form-field>
    
        <mat-form-field appearance="outline" class="login-form-input" >
              <mat-label>Password</mat-label>
              <input formControlName="password" matInput  placeholder="Placeholder">
              <mat-error *ngIf="submitted && loginControl['password']?.hasError('required')">Password required</mat-error>     
        </mat-form-field>

        
          
    <button mat-button color="primary" class="login-forgot-btn">Forgot password</button>
    
    <div class="login-footer-btn-ctn">
        <button mat-button color="primary" class="login-footer-btn-1" (click)="handleNavigation()">Create account</button>
        <button mat-raised-button color="primary" class="login-footer-btn-2"  type="submit">Login</button>
    </div>
    
    
    </form>
    
    <div class="login-footer-cnt">
    
    <span class="login-footer-titles">Help</span><span class="login-footer-titles">Privacy</span><span class="login-footer-titles">Terms</span>
    </div>

</div>



