<div class="signup-footer-main-cnt">
    <div class="signup-outer-cnt">
        <div class="signup-inner-cnt">
            <div class="signup-subtitles">
                <span style=" color:rgb(228, 184, 39);font-size: 20px;font-weight: 800;margin-bottom: 5px;">Fundo</span>
                <span style="font-size: 18px;font-weight: 500;"> Create your Fundo Account</span>
            </div>
             <div class="signup-name-input-cnt">
                 <mat-form-field appearance="outline" class="login-form-input">
                     <mat-label>First name</mat-label>
                     <input matInput placeholder="Placeholder">
                    
                   </mat-form-field>
                   <mat-form-field appearance="outline" class="login-form-input">
                     <mat-label>Last name</mat-label>
                     <input matInput placeholder="Placeholder">
                    
                   </mat-form-field>
            </div>
            <div class="signup-username-info-cnt">
                 <mat-form-field appearance="outline" class="login-form-input">
                     <mat-label>user name</mat-label>
                     <input matInput placeholder="Placeholder">
                     <mat-hint>You can use letters numbers & periods</mat-hint>
                 </mat-form-field>
                 <!-- <span class="signup-staticfield">You can use letters numbers & periods</span> -->
            </div>
           
            <div class="signup-password-cnt">
             <mat-form-field appearance="outline" class="login-form-input">
                 <mat-label>Password</mat-label>
                 <input matInput placeholder="Placeholder">
                
               </mat-form-field>
               <mat-form-field appearance="outline" class="login-form-input">
                 <mat-label>Confirm</mat-label>
                 <input matInput placeholder="Placeholder">
                 
               </mat-form-field>
     
            </div>
            <span class="signup-staticfield">Use 8 or more charecters with a mix of letters,numbers & symbols</span> 
            <div class="signup-signin-register-cnt">
             <button mat-button color="primary" >Sign in instead</button>
             <button mat-raised-button color="primary" style="background-color: rgb(77, 172, 72);" >Register</button>
            </div>
        </div>
        <div>
     
        </div>
        <div class="signup-inner-cnt-2">
          <img style="width: 100%;margin-top: 58px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWhCs4f2YW-VqYSm1zPkcdznlX95UOuiO8tw&usqp=CAU">
          <span style="font-weight: 600;font-family:'Roboto'">
            <pre style="font-family: sans-serif">
One Account.All of fundo
        working for you
          </pre></span>
        </div>
     </div>

     <div class="signup-footer-cnt">
    
        <span >Help</span><span >Privacy</span><span>Terms</span>
    </div>

</div>



